*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.text{
    border: 1px solid;
    padding: 10px;
    margin: 20px;
}

.box{
    width: 200px;
    height: 200px;
    border-width: 10px;
    border-style: dotted;
    border-style: dashed;
    border-style: double;
    border-style: groove;
    border-color: red;

    border-top-color: blue;
    border-right-width: 20px;
    border-bottom-style: double;

    border-radius: 50%;
    margin: 0 auto;
}

button{
    padding: 8px 16px;
    border: none;
}