body {
  margin: 0;
  background-color: #f2f6f8;
  color: #fff;
}

.heading {
  background-color: #3498db;
  text-align: center;
  padding: 30px 0;
}

.heading h1 {
  margin: 0;
  font-size: 2em;
}

.text {
  color: #d0eaff;
}


.text1 {
  text-align: center;
  padding: 40px;
}

.box {
  background-color: #2ecc71;
  color: #000;
  margin: 0 auto 30px;
  padding: 20px;
  border-radius: 10px;
  width: 60%;
}

.text2 {
  font-style: italic;
  text-align: right;
}

.text3 {
  background-color: #e74c3c;
  padding: 20px;
  width: 40%;
  margin: 0 auto;
  border-radius: 10px;
}

.text3 p {
  color: #fff;
  font-style: italic;
}

.text4 {
  display: inline-block;
  color: #fff;
  font-weight: bold;
  background: none;
  border: none;
  text-decoration: underline;
  font-size: 1.2em;
}


.text5 {
  background-color: #2c3e50;
  padding: 40px;
  text-align: center;
}

.text5 h2 {
  color: #fff;
  margin-bottom: 20px;
}

.text5 p {
  color: #dfe6e9;
}

.text6 {
  background-color: #1a252f;
  padding: 15px 0;
}

.text6 a {
  color: #74b9ff;
  margin: 0 10px;
}

.text6 a:hover {

}
